node_modules
.env
.env.local
.env.prod
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
.DS_Store

vercel.json
.wrangler
src/generated
/src/generated/prisma
